{
  "plugins":
  [
    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal" : "hack",
        "topicToken": "%"
      }
    ]
  ],
  "presets": ["@babel/preset-env", ["@babel/preset-react",{"runtime": "automatic"}]]
}
