@font-face {
    font-family: 'NuetralFace';
    src: url('/assets/fonts/NeutralFace/NeutralFace.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NuetralFace';
    src: url('/assets/fonts/NeutralFace/NeutralFace-Bold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ClashGrotesk';
    src: url('/assets/fonts/ClashGrotesk/ClashGrotesk-Bold.woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ClashGrotesk';
    src: url('/assets/fonts/ClashGrotesk/ClashGrotesk-Semibold.woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ClashGrotesk';
    src: url('/assets/fonts/ClashGrotesk/ClashGrotesk-Medium.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ClashGrotesk';
    src: url('/assets/fonts/ClashGrotesk/ClashGrotesk-Regular.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ClashGrotesk';
    src: url('/assets/fonts/ClashGrotesk/ClashGrotesk-Light.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ClashGrotesk';
    src: url('/assets/fonts/ClashGrotesk/ClashGrotesk-Extralight.woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
