@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-size: 55%; /* = 12px */
    }

    svg {
        transform: scale(0.8);
    }

    @screen md {
        :root {
            font-size: 87.5%; /* = 14px */
        }

        svg {
            transform: scale(0.9);
        }
    }
    @screen xl {
        :root {
            font-size: 100%; /* = 16px */
        }

        svg {
            transform: scale(1);
        }
    }
}

html,
body {
    @apply bg-primary text-secondary;
    width: 100vw;
}

body {
    background-color: #010203;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

*::-moz-selection { /* Code for Firefox */
    @apply text-secondary;
    background: #D36C4F;
    -webkit-text-fill-color: #FFF;
}

*::selection {
    @apply text-secondary;
    background: #D36C4F;
    -webkit-text-fill-color: #FFF;
}

*:not(.colored-text)::-moz-selection { /* Code for Firefox */
    @apply text-primary;
    background: #D36C4F;
    -webkit-text-fill-color: #000;
}

*:not(.colored-text)::selection {
    @apply text-primary;
    background: #D36C4F;
    -webkit-text-fill-color: #000;
}

.oval-shadow {
    width: 110%;
    height: 95%;
    position: absolute;
    top: 12px;
    transform: scale(1.25);
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.linkWithBorderBottomOnHover {
    @apply border-b-2 border-transparent duration-300;
}

.linkWithBorderBottomOnHover:hover {
    @apply border-b-2 border-secondary cursor-pointer;
}

.react-pdf__Page {
    margin: 0 auto;
}
